@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');


/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 150%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  text-align: center;
  font-family: "Moon Dance", cursive;
  color: rgb(241, 240, 216);
  background: linear-gradient(rgb(1, 5, 79) 0%,rgb(7, 12, 106) 35%, rgb(39, 45, 163) 65%, rgb(77, 82, 191) 85%, rgb(177, 179, 225) 100%);
}

h1, h2, h3, h4
{
  font-family:"Great Vibes", cursive;
}

h2, h3, h4
{
  background: rgba(19, 70, 210, 0.1);
  border: 7px solid rgba(255, 251, 235, 0.4);
  border-radius: 50px;
  padding: 0.75rem 1.25rem;
  margin: 25 auto;
  box-shadow: 0 0 52px rgba(255, 254, 249, 0.75);
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

nav ul 
{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  align-items: center;
  max-width: fit-content;
}

nav ul li
{
  font-size: 2rem;
  background: linear-gradient(rgb(18, 176, 216) 25%, rgb(249, 252, 255) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header a span
{
  size: 1rem
}



.container ul
{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0;
  list-style: none;
   
}
.container ul li
{
  color: rgb(255, 243, 194);
  padding-left: 1.5rem;
  position: relative;
  list-style: none;
  background-image: url('sparkles.png');
  background-position:  center;
  background-size: 300px 300px;
  padding-left: 1.75rem;
}

article .container > ul:not(.features) > li + li,
article .container > ol > li + li {
  border-radius: 45%;
  margin-top: 1rem;
}

